@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FWC2026';
  src: url('/fonts/FWC2026-NormalRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  font-family: 'FWC2026', sans-serif;
  overflow: hidden;
  background-color: #ede8d0;
}

html.dark, html.dark body {
  background-color: #1a1917;
}

.scrollbar-none::-webkit-scrollbar { display: none; }
.scrollbar-none { -ms-overflow-style: none; scrollbar-width: none; }
